[workspace.package]
version = "0.1.0"
edition = "2024"
authors = ["XeF2 <contact@xef2.top>"]
license = "MPL-2.0"

[workspace]
members = ["crates/*"]
resolver = "2"

[profile.release]
strip = true
lto = true
